@CHARSET "UTF-8";

#general{
	width: 1024px;
}

ul.ofertas{
	list-style-type: none;
	width: 525px;
	margin: 0;
	padding: 0;
}

	ul.ofertas li{
		background: #ffffff;
		border: 3px solid #D3D3D3;
		padding: 5px;
		width: 122px;
		text-align: center;		
		margin-right: 5px;
		margin-bottom: 5px;
		float: left;
	}

	ul.ofertas h3{
		margin: 0;
		padding: 0px 0px 5px 0px;
		font-size: 14px;
	}
	
	ul.ofertas small{
		display: block;
	}
	
	ul.ofertas form fieldset{
		border: 0px;
	}
	
	ul.ofertas form label{
		font-size: 12px;
	}
	
	ul.ofertas form input[type=text]{
		width: 18px;
		background: #FFF;
		border: 1px solid #d3d3d3;
	}
	
div.carrito_lista{
	background: #eeeeee;
	border: 1px solid #d3d3d3;
	padding: 5px;
	float: left;	
	width: 490px;
}

	div.carrito_lista h3{
		margin: 0 0 10px 0;
		padding: 0;
		font-size: 14px;
	}
	
	div.carrito_lista table thead tr td{
		border-bottom: 1px solid #d3d3d3;
		padding: 5px;
	}
	
	div.carrito_lista table tbody tr td{
		padding: 5px;
	}
	
	div.carrito_lista table tbody tr td input[type=text]{
		background: #FFF;
		border: 1px solid #d3d3d3;
		width: 25px;
	}
	
	div.carrito_lista table tbody tr.alt{
		background: #f5f5f5;
	}

table.productos_lista{
	background: #eeeeee;
	border: 1px solid #d3d3d3;
	padding: 5px;
	float: left;	
	width: 490px;
}
	table.productos_lista tr.alt{
		background: #f5f5f5;
	}
	
	table.productos_lista thead tr td{
		border-bottom: 1px solid #d3d3d3;
		padding: 5px;
	}
	
	table.productos_lista tbody tr td{
		padding: 5px;
	}
	
	table.productos_lista tbody tr td input[type=text]{
		background: #FFF;
		border: 1px solid #d3d3d3;
		width: 25px;
	}