@CHARSET "UTF-8";

div#content{
	left: 35%;
    position: absolute;
    top: 20%
}

#login-box {
	width: 330px;
	height: 350px;
	padding: 75px 80px 0px 75px;
	color: #ebebeb;
	font: 12px Arial, Helvetica, sans-serif;
	background: url(http://localhost/tsp-lab4-cart/assets/img/login-box-backg.png) no-repeat left top;
}

#login-box img {
	border:none;
}

#login-box h2 {
	padding:0;
	margin:0;
	color: #ebebeb;
	font: bold 22px "Calibri", Arial;
}


#login-box-name {
	float: left;
	display:inline;
	width:65px;
	text-align: right;
	padding: 15px 10px 0 0;
	margin-top: 26px;
}

div#login-box-field {
	float: left;
	display:inline;
	width:230px;
	height:30px;
	margin:30px 0 7px 0;	
}


.form-login  {
	width: 245px;
	padding: 10px 4px 6px 3px;
	border: 1px solid #0d2c52;
	background-color:#1e4f8a;
	font-size: 16px;
	color: #ebebeb;
}


.login-box-options  {
	clear: right;
	float: left;
    font-size: 9px;
}

.login-box-options a {
	color: #ebebeb;
	font-size: 9px;
	margin-left: 3px;
}

a.new_user {
	position: fixed;
    right: 58%;
    text-align: left;
    top: 57%
}

p {
	font-size:70%;
	padding-right:10px;
	color:#FF0000;
	margin-top: 1%;	
}

div#contactArea form div p {
	font-size:70%;
	padding-right:10px;
	color:#FF0000;
	margin-top: -15%;	
}

.BtnLogin {
	left: 65%;
    position: absolute;
    top: 75%;
}

#JQpopup {
	position: fixed;
    right: 55%;
    top: 57%;
}

backgroundPopup {  
	display:none;  
	position:fixed;  
	_position:absolute; /* hack for internet explorer 6*/  
	height:100%;  
	width:100%;  
	top:0;  
	left:0;  
	background:#000000;  
	border:1px solid #cecece;  
	z-index:1;  
}

#popupContact {  
	display:none;  
	position:fixed;  
	_position:absolute; /* hack for internet explorer 6*/  
	height: 200px;  
	width: 265px;  
	background:#FFFFFF;  
	border:2px solid #cecece;  
	z-index:2;  
	padding:12px;  
	font-size:13px;  
}  

#popupContact h1 {  
	text-align:left;  
	color:#6FA5FD;  
	font-size:22px;  
	font-weight:700;  
	border-bottom:1px dotted #D3D3D3;  
	padding-bottom:2px;  
	margin-bottom:20px;  
}

#popupContactClose {  
	font-size:14px;  
	line-height:14px;  
	right:6px;  
	top:4px;  
	position:absolute;  
	color:#6fa5fd;  
	font-weight:700;  
	display:block;  
}

span.login-cp-name {
	float: left;
	width: 80px;	
}

.form-cp {
	width: 120px;
	margin: 1px 1px 30px 5px;
}

input.submit-cp {
	float: right;
}
