@CHARSET "UTF-8";

div#content{
	padding: 100px 0 0 250px;
}

#login-box {
	width: 330px;
	height: 350px;
	padding: 75px 80px 0px 75px;
	color: #ebebeb;
	font: 12px Arial, Helvetica, sans-serif;
	background: url(http://localhost/tsp-lab4-cart/assets/img/login-box-backg.png) no-repeat left top;
}

#login-box img {
	border:none;
}

#login-box h2 {
	padding:0;
	margin:0;
	color: #ebebeb;
	font: bold 22px "Calibri", Arial;
}


#login-box-name {
	float: left;
	display:inline;
	width:65px;
	text-align: right;
	padding: 15px 10px 0 0;
	margin-top: 26px;
}

div#login-box-field {
	float: left;
	display:inline;
	width:230px;
	height:30px;
	margin:30px 0 7px 0;	
}


.form-login  {
	width: 245px;
	padding: 10px 4px 6px 3px;
	border: 1px solid #0d2c52;
	background-color:#1e4f8a;
	font-size: 16px;
	color: #ebebeb;
}


.login-box-options  {
	clear: right;
	float: left;
    font-size: 9px;
}

.login-box-options a {
	color: #ebebeb;
	font-size: 9px;
	margin-left: 3px;
}

a.new_user {
	text-align: left;
	float: left;
}

p {
	font-size:80%;
	padding-right:10px;
	color:#FF0000;
}

.BtnLogin {
	padding:70px 0px 0px 0px;
	float:right;
}

